# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

#PyCharm 
.idea/
.venv/
.git/

# Project audiobooker
job_txt/
audio
audio_new
*.mp3

# Building
*.spec
build/
dist/

#Сache
__pycache__/