# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

#PyCharm 

.idea/
.venv/
.git/

# Project audiobooker

audio
audio_new

*.mp3
